@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer components {
  .app-transition-primary {
    @apply transition-all duration-300 ease-in;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(74, 85, 104, 0.5) rgba(226, 232, 240, 0.5);
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(226, 232, 240, 0.5);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(74, 85, 104, 0.5);
    border-radius: 10px;
    border: 2px solid rgba(226, 232, 240, 0.5);
  }

  [data-theme="dark"] .custom-scrollbar {
    scrollbar-color: rgba(74, 85, 104, 0.3) rgba(45, 55, 72, 0.3);
  }

  [data-theme="dark"] .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(45, 55, 72, 0.3);
  }

  [data-theme="dark"] .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(74, 85, 104, 0.3);
    border: 2px solid rgba(45, 55, 72, 0.3);
  }
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slow-spin {
  animation: slow-spin 20s linear infinite; /* change 5s to control speed */
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .no-print {
    display: none !important;
  }

  #certificate {
    width: 100vw !important;
    height: 100vh !important;
    background-size: cover !important;
  }
}
